/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10vh 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pattron {
  opacity: 0.1;
  background-image: url('https://cdn.dribbble.com/users/2168896/screenshots/15556098/media/2cc863ce20f21bea3905221f0b0b71b7.png?resize=400x0');
  height: 33rem;
  background-repeat: repeat;

}